html {
	scroll-behavior: smooth;
}

body {
	background-color: #59a4fc;
}

.navbar {
	background-color: #59a4fc;
}

.navbar i {
	color: #fff;
	font-size: 20px;
}

.menu {
	display: flex;
	margin-top: 20px;
	background-color: #59a4fc;
}

.menu li {
	list-style-type: none;
	margin-right: 30px;
	margin-left: 30px;
	margin: 0px, 
}

.menu li a {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Teko', sans-serif;
	font-size: calc(35px + 30 * (100vw / 1280));
	text-align: justify;
	line-height: 40px;
}

.menu p {
	color: #fff;
	font-family: 'Teko', sans-serif;
	font-size: calc(20px + 35 * (100vw / 1280));
	text-align: justify;
	margin-top: 3px;
	line-height: 40px;
}	

@media screen and (min-width: 960px) {
	.menu a {
		margin-top: 10px;
	}
}

@media screen and (max-width: 992px) {
	.menu p {
		display: none;
	}
}

.project-preview{
	padding-top: 25px;
	font-family: 'Teko', sans-serif;
}

.project-preview h1 {
	color: #000;
	font-size: calc(65px + 60 * (100vw / 1280));
	-webkit-text-stroke: 1px #fff;
	line-height: 0.7;
}

.project-preview h2 {
	color: #fff;
	font-size: calc(64px + 45 * (100vw / 1280));
	line-height: 0.7;
}

.project-preview h3 {
	color: #000;
	font-size: calc(60px + 45 * (100vw / 1280));
	-webkit-text-stroke: 1px #fff;
	line-height: 0.8;
}

.project-preview h4 {
	color: #fff;
	font-size: calc(40px + 45 * (100vw / 1280));
	line-height: 0.8;
	margin-bottom: 10px;
}

.project-preview video {
	width: 100%;
	border-radius: 12%;
	align-self: flex-end;
}

.stick {
	position: absolute;
	width: 100%;
}

.history p {
	line-height: 1;
	color: #fff;
	font-family: 'Teko', sans-serif;
	font-size: calc(20px + 18 * (100vw / 1280));
}

.first-paragraph {
	margin-top: 50px;
	top: 20%;
	text-align: left;
	width: 90%;
}

.second-paragraph {
	margin-left: 12px;
}

.near-hack-photo {
	float: left;
	margin-right: 10px;
	margin-left: 12px;
	width: 50%;
}

.roadmap h2 {
	font-size: 100px;
	text-align: center;
	color: #fff;
	font-family: 'Teko', sans-serif;
}

.roadmap img {
	padding: 25px 0px;
}

.team h2 {
	font-size: 100px;
	text-align: center;
	color: #fff;
	font-family: 'Teko', sans-serif;
	padding-top: 40px;
}

.pearson-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 0px;
}

.team h5 {
	font-size: 45px;
	color: #fff;
	font-family: 'Teko', sans-serif;
	line-height: 1;
}

.team h6 {
	font-size: 35px;
	font-weight: bold;
	color: #59a4fc;
	-webkit-text-stroke: 1px #fff;
	font-family: 'Teko', sans-serif;
}

.social-media {
	text-align: center;
}

.social-media i {
	font-size: 40px;
	text-align: center;
	color: #59a4fc;
	-webkit-text-stroke: 1px #fff;
	cursor: pointer;
	transition: all 0.5s ease;
	margin: 0px 10px;
}

.social-media i:hover {
	color: #fff;
}

.line {
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin-top: 50px;
}

.contacts i {
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.contacts i:hover {
	color: #59a4fc;
}

.flag {
	width: 17%;
	height: 100px;
	background: rgb(230,231,59);
    background: linear-gradient(0deg, rgba(230,231,59,1) 50%, rgba(0,22,255,1) 50%);
}

@media screen and (max-width: 1620px) {
	.flag {
		width: 100%;
	}
	.contacts {
	margin-bottom: 130px;
	}
}


.flag a {
	margin: auto;
}

.flag p {
	margin-top: 5px;
	font-size: 22px;
}