html {
	scroll-behavior: smooth;
}

body {
	background-color: #2E2F32;
}

header {
	padding-top: 25px;
}

h1 {
	padding-top: 25px;
	font-size: 100px;
	color: #fff;
	font-family: 'Orbitron';
}

@media screen and (max-width: 1200px) {
	.picture {
	display: none;
	}
}

p {
	padding-top: 10px;
	font-size: 40px;
	color: #fff;
	font-family: 'Montserrat';
}

button {
	cursor: pointer;
	margin: 20px;
	height: 60px;
	width: 350px;
	background-color: transparent;
	border-radius: 50px;
	border: solid 2px;
	border-color: #fff;
	text-align: center;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: bold;
	background-size: 300% 100%;
}

.filled {
	 background-color: #FAC77A;
	 border-color: transparent;
}


button:hover {
	background-color: #8DCFF6;
}

h2 {
	text-align: center;
	font-size: 70px;
	color: #fff;
	font-family: 'Orbitron';
	padding-top: 30px;
}

h3 {
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	text-align: left;
}

/*.about p {
	text-align: center
}*/

.about button {
	display: block;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pearson-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 0px;
}

.team h5 {
	font-size: 45px;
	color: #fff;
	font-family: 'Teko', sans-serif;
	line-height: 1;
}

.team h6 {
	font-size: 35px;
	font-weight: bold;
	color: #2E2F32;
	-webkit-text-stroke: 1px #fff;
	font-family: 'Teko', sans-serif;
}

.social-media {
	text-align: center;
}

.social-media i {
	font-size: 40px;
	text-align: center;
	color: #2E2F32;
	-webkit-text-stroke: 1px #fff;
	cursor: pointer;
	transition: all 0.5s ease;
	margin: 0px 10px;
}

.social-media i:hover {
	color: #fff;
}

.line {
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin-top: 50px;
}

i {
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	transition: all 0.5s ease;
}

 i:hover {
	color: #8DCFF6;
}

@media screen and (max-width: 1620px) {
	.contacts {
	margin-bottom: 130px;
	}
}